<script>
   // Copy using navicator.clipboard.writeText
    function copyToClipboard(text) {
         navigator.clipboard.writeText(text).then(function() {
              alert("Copied!");
         }, function() {
              alert("Failed to copy to clipboard!");
         });
    }
</script>

<section class="py-6">
    <div class="bg-white p-6 rounded shadow text-center">
        <h2 class="text-2xl font-bold mb-2">User ID</h2>
        <p class="text-gray-600">Please use the following user ID with NoteLinkGPT: <b><%= user_id %></b></p>
        <a href="#" class="text-blue-500 underline" onclick="copyToClipboard('<%= user_id %>')">Copy</a>
        <div class="mt-4">
            <h2>Instructions</h2>
            <p>
                Visit <a class="text-blue-500 underline" href="https://chat.openai.com/g/g-B9XEvDcx8-notelinkgpt/c/c6310eb4-bee8-42ac-ae86-c2e0c8779564">this link</a> and provide your user id to being chatting.
                </p>
    </div>
