<!DOCTYPE html>
<html lang="en">
<head>
    <% if ENV['RACK_ENV'] == 'production' %>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['GOOGLE_ANALYTICS_ID']%>"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '<%= ENV['GOOGLE_ANALYTICS_ID']%>');
        </script>
    <% end %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteLink GPT</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="container mx-auto px-4">
        <header class="py-6 text-center">
            <img src="/assets/logo.png" alt="Logo" class="mx-auto w-48 h-auto">
            <h1 class="text-3xl font-bold">NoteLinkGPT</h1>
            <p class="text-gray-600">Connect ChatGPT to Evernote with ease.</p>
        </header>

        <section class="py-6">
            <%= yield %>
        </section>

          <footer class="text-center py-6">
          <p>&copy; <%= Time.now.year %> <a href="https://www.JoeMcB.com">JoeMcB.com</a></p>
        </footer>
    </div>
</body>
</html>